*{
    margin: 0rem;
    padding: 0rem;
    overflow-x: hidden;
}

/* .box1{
    background-image: url(pics/college2.jpg);
    height: 200px;
    text-align: center;
   
 }
 .box2{
    background-image: url(pics/collage3.jpg);
    height:20vh;
    text-align: center;
    background-size: cover;
 }
 .box3{
    background-image: url(pics/collage4.jpg);
    height:20vh;
    text-align: center;
 } */
 .caro {
    height: 50em;
 }
 .content{
    background-color: azure;
    padding-top: 3em;
    padding-bottom: 3em;
 }
 /* .aboutimg{
    padding-top: 3em;
 } */
 .category{
    background-color: rgb(241, 233, 233);
    padding-top: 3em;
    padding-bottom: 3em;
 }